html {
  font-size: 10px; }

:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.form {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(-45deg, #5148b5, #6ba8dc);
  display: flex;
  flex-wrap: nowrap; }
  .form::after {
    position: absolute;
    height: 100vh;
    width: 100%;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    background-color: transparent;
    background: url(../img/bg.svg) bottom no-repeat;
    background-size: 100% 80%; }
  .form > img {
    position: absolute;
    right: 0;
    z-index: 10;
    height: 100vh; }
  .form__left {
    flex: 1 1 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20; }
    .form__left-logo {
      margin-bottom: 30px; }
      .form__left-logo > img {
        width: 373px;
        height: 58px; }
    .form__left-describe {
      font-size: 2.6rem;
      color: white; }
    .form__left-buttons {
      font-size: 2.6rem;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center; }
      .form__left-buttons span {
        padding: 0 20px; }
  .form__right {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    z-index: 20; }
    .form__right .slider {
      position: relative;
      overflow: hidden;
      width: 50%;
      height: 80%; }
      .form__right .slider__content {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        width: 200%;
        transition: 0.5s ease; }
      .form__right .slider .shift {
        left: -100%; }
      .form__right .slider__item {
        width: 100%;
        height: 100%; }
        .form__right .slider__item .h1 {
          font-size: 4.4rem;
          font-weight: 500;
          color: white;
          margin: 0 0px 10px; }
        .form__right .slider__item p {
          font-size: 2.2rem;
          font-weight: 400;
          margin: 10px 0;
          color: #616983; }
        .form__right .slider__item input {
          width: 100%;
          border: none;
          background: transparent;
          border-bottom: 2px solid #616983;
          font-size: 2.5rem;
          font-weight: 500;
          padding: 2.5rem 0;
          margin-bottom: 65px;
          color: #616983 !important; }
          .form__right .slider__item input:focus {
            outline: 0;
            border-bottom: 2px solid #00b68e; }

.buttons-support {
  box-sizing: border-box;
  width: 244px;
  height: 72px;
  border-radius: 6px;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.16);
  background: #7d93d3;
  outline: 0;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  padding: 20px; }
  .buttons-support:hover {
    background: #687ab0;
    transition: 0.5s; }

.buttons-login {
  display: inline-block;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  background-image: linear-gradient(to right, #127ef9 22%, #54c3fe 78%);
  border-radius: 7px;
  color: white;
  font-size: 26px;
  font-weight: 700;
  height: 95px;
  margin-bottom: 85px;
  text-transform: uppercase;
  z-index: 1; }
  .buttons-login:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-image: linear-gradient(to right, #54c3fe 22%, #127ef9 78%);
    transition: opacity 0.5s ease-out;
    z-index: 2;
    opacity: 0; }
  .buttons-login:hover:after {
    opacity: 1; }
  .buttons-login span {
    position: relative;
    z-index: 3; }
  .buttons-login:hover.arrow-right {
    transform: translateX(10px);
    transition: 1s; }

.arrow-right {
  width: 30px;
  height: 22px; }

.link {
  color: #3a91e2; }
  .link:active {
    color: #2e73b3; }

.btn--return {
  position: absolute;
  left: 0;
  top: -10vh;
  border: none;
  background: transparent; }

.return-img {
  transform: rotate(180deg);
  margin-bottom: 10px; }

@media (min-width: 1921px) {
  .form__left-describe {
    font-size: 3.6rem; }
  .form__right .slider__item .h1 {
    font-size: 5.4rem;
    font-weight: 500; }
  .form__right .slider__item p {
    font-size: 3.2rem;
    font-weight: 400; }
  .form__right .slider__item input {
    font-size: 3.5rem;
    font-weight: 500;
    padding: 3.6rem 0; } }
